{% extends "base.html" %}

{% block title %}ユーザー一覧{% endblock %}

{% block content %}
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">ユーザー一覧</h2>
                        <div class="list-group">
                            {% for user in users %}
                                <div class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <span class="me-auto">{{ user['username'] }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
